.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.panel-button {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.button-panel {
  text-align: right;
}
