<div class="button-panel">
  <button class="panel-button" routerLink="create" mat-raised-button color="primary">Nowy egzamin</button>
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let exam of exams">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{exam.name}}
      </mat-panel-title>
      <mat-panel-description>
        Liczba pytań: {{exam.questions.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="h5">Pytania:</div>
      <ul>
        <li class="mat-list-item" *ngFor="let question of exam.questions">
          {{question.question}}
          <mat-list>
            <mat-list-item [ngClass]="{'text-success': answer.valid}" *ngFor="let answer of question.answers">
              <mat-divider></mat-divider>
              {{answer.answer}}
            </mat-list-item>
          </mat-list>
        </li>
      </ul>
    <div class="text-right">
      <button mat-flat-button color="primary" [routerLink]="[exam.id, 'take']">Rozwiąż test</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
