<mat-card (keydown.enter)="login()">
  <mat-card-header>
    <mat-card-title>Zaloguj</mat-card-title>
  </mat-card-header>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input autofocus [(ngModel)]="username" matInput>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Hasło</mat-label>
    <input [(ngModel)]="password" matInput>
  </mat-form-field>
  <br/>


  <div class="text-right">
    <button type="submit" mat-flat-button color="primary" (click)="login()">Zaloguj</button>
  </div>

  <div class="mat-error">
    {{loggingError}}
  </div>
</mat-card>
